<div id="rant">
	<span class="mid">Dear Ableton,</span><br/>
	WHERE IS MY PUSH?!
	<br/>
	<%=image_tag('push.jpg', :width=>400)%>
	<div class="mid">
		<div class="small">We do not appreciate being left in the dark about the problems you're having getting the units out. 
		An official update from you detailing the truth about what is happening with the manufacturing and when you will <b>REALLY</b> be shipping the units would go a long way.</div>
		<br/>-The Ableton Community<br/>
		<a href="https://twitter.com/#!/search/realtime/%23whereismypush">#whereismypush</a>
	</div>
</div>
<div id="social">
<span class='st_googleplus_vcount' displayText='Google +'></span>
<span class='st_facebook_vcount' displayText='Facebook'></span>
<span class='st_twitter_vcount' displayText='Tweet'></span>
<span class='st_reddit_vcount' displayText='Reddit'></span>
<span class='st_tumblr_vcount' displayText='Tumblr'></span>
<span class='st_email_vcount' displayText='Email'></span>
</div>

<!--<div id="petiton">
	<div class="header">
		Leave your name if you are still waiting on a backordered push:
	</div>
	<div class="form">
		
	</div>
</div> -->