// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#rant {
  font-size:98px;
  font-family:helvetica;
  font-weight:bold;
  text-align:center;
}

#social {
  text-align:center;
  padding:20px;
}

#petiton {
  padding:30px;
  font-family:helvetica;
}

.header {
  text-align:center;
  font-weight:bold;
}
